{% extends "noble_building_llc/base.html" %}

{% load static %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static "noble_building_llc/assets/img/dubai-skyline.jpg" %});">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url({% static "noble_building_llc/assets/img/our-story.png" %});"></div>

          <div class="col-lg-7">
            <h2>NOBLE BUILDING CONTRACTING LLC</h2>
            <div class="our-story">
              <h4>Est 2010</h4>
              <h3>Our Story</h3>
              <p>NOBLE BUILDING CONTRACTING LLC specialises in designer philosophy with complete solutions required to attain the best in all
                projects.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>We have been working with Architects, Designers and different contracting companies</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Keeping in view the deadline and contributing to the best quality and craftsmanship in delivering the project.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>We do not compromise in quality of work. Our aim is to deliver top class pristine quality.</span></li>
              </ul>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <h2>INTEGRITY</h2>
                <p>We do the right thing.</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <h2>COMITMENT</h2>
                <p>We keep our word.</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-green flex-shrink-0"></i>
              <div>
                <h2>RESPECT</h2>
                <p>We value people.</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-pink flex-shrink-0"></i>
              <div>
                <h2>EXCELLENCE</h2>
                <p>We give our best.</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url({% static "noble_building_llc/assets/img/our-vision.jpg" %});" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>OUR VISION</h3>
            <p>We are always ready to go an extra mile in order to gain customer confidence and keep the tempo going to maintain be a long lasting business relationship with our clients in order to again work on for future references and projects.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Best Service</a></h4>
                <p>To be a reliable building contractor delivering the best to our clients.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Customer Need</a></h4>
                <p>Understand the customer’s requirement and see that we deliver the best.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Delevering Value</a></h4>
                <p>Customer satisfaction will be our core aim. </p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>OUR MISSION</h3>
            <p>To procure projects in order to deliver the best quality and finishing.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Best Service</a></h4>
                <p>Work closely with Consultants, Architects and Clients in order to provide the best.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Work Culture</a></h4>
                <p>Providing safe working conditions keeping in view of the deadline to complete the project on time.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Quality Products</a></h4>
                <p>NOBLE BUILDING CONTRACTING LLC aims to achieve the best quality and give a value to our client</p>
              </div>
            </div><!-- End Icon Box -->
          </div> 

          <div class="col-lg-6 img-bg" style="background-image: url({% static "noble_building_llc/assets/img/our-mission.jpg" %});" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Our work force are committed in deliver our services to clients. In order to ensure that everyone is equipped with the right skill, knowledge and attitude,
             we have training programme put in place to constantly upgrade our people in technical skills.</p>
        </div>

        <div class="row gy-5">
          {% for people in peoples %}
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{{ people.image.url }}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>{{ people.name }}</h4>
              <span>{{ people.designation }}</span>
              <p>{{ people.description }}</p>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Core Values Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2> DIRECTOR’S MESSAGE</h2><br>
          <img src="{% static "noble_building_llc/assets/img/message.png" %}" alt="">
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I started my career ,in the year 10 June 2004 . During my tenure from 2004 till present, I have put on a vast experience in knowing the technicalities of a project and was fully involved in quoting and winning the project. Keeping in view the price and not compromising the quality of the products involved in the project, the quality was delivered.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    During my journey ,I closely supervised all the jobs and also has been myself involved in completing of project without delays meeting the deadlines.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    NOBLE BUILDING CONTRACTING LLC establish in the month of Sept 18th 2010. Mr. Adnan Amjad launched this company with all his expe- rience in order to service the clientele in the UAE. Since, Sept 2010 the company has executed many projects we have a few more undergoing in the pipeline.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I also was scheduling the manpower in various projects keeping in view the client’s urgency. Communication which is the main role in executing the project has been his core duty. The clients requirements discussed had to be communicated and implement- ed on site.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Core Values Section -->

  </main><!-- End #main -->

{% endblock %}